<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC213 Todo</title>
</head>
<body>
<h1>Social todo app for cpsc213</h1>

{{#if errors}}
<div style="color:red" class="errors">
   {{errors}}
</div>
{{/if}}

{{#if currentUser}}
    <h2 class="welcome">Welcome, {{currentUser.name}}</h2>
    <h4>Your Tasks</h4>
    {{#if tasks}}
        <fieldset class="tasks">
            {{#each tasks}}
            <div class="tasks-list-item">
                
                {{#if this.isComplete}}
                    <span class="complete-task" class="task-title"><strike>{{this.title}}</strike></span>
                    <form action="/tasks/{{this._id}}/incomplete" class="toggle" method="GET"><button type="submit" class="toggle" name="toggle">Mark as Incomplete</button></form>
                    
                {{else}}
                    <span class="task-title">{{this.title}}</span>
                    <form action="/tasks/{{this._id}}/complete" class="toggle" method="GET"><button type="submit" class="toggle" class="complete" name="toggle">Mark as Complete</button></form>
                
                {{/if}}
                
                <form action="/tasks/{{this._id}}/delete" class="delete" method="GET"><button type="submit" class="delete" name="delete">Delete Task</button></form>
                
            </div>
            {{/each}}
	    </fieldset>

    {{else}}
        No tasks to show!
    {{/if}}
    <hr>
    <div>
        <h4>Add a new task</h4>
        <form class="createTask" action="/task/create" method="POST">
            <label for="name">Task name</label>
            <input name="name" type="text"><br>
            <label for="description">Task Description</label>
            <input name="description" type="text"><br>
            Collaborators<br>
            <input name="collaborator1" type="email"><br>
            <input name="collaborator2" type="email"><br>
            <input name="collaborator3" type="email"><br>
            <input type="submit" class="create-task-submit">
        </form>
    </div>


{{else}}

<div>
    <form class="login" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" id="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password"  id="password" type="text"><br>
        <input type="submit"  class="log-in-submit">
    </form>
</div>

<div><hr></div>

<div>
    <form class="register" action="/user/register" method="POST" class="signup-form" style="display: block;">
      <input name="name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="passwordConfirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
    </form>
</div>s
{{/if}}
<footer>
    <a href="/user/logout" class="logout">Logout</a>
</footer>
</body>
</html>